.SkillFlexBoxMobile {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.SkillAboutContainerMobile {
  padding: 20px;
  width: 100%;
  margin-top: 40px;
}

.MobileInnerContainer {
  width: 70px;
  height: 35px;
  background-color: black;
  color: #fce166;
  border: 1px solid #fce166;
  margin-left: 4px;
  margin-top: -34px;
  border-radius: 4px;
}

.MobileInnerContainer p {
  margin-top: 7px;
  text-align: center;
}
