.WorkContainer {
  width: 100%;
  height: 87vh;
}

.MobileWorkContainer {
  width: 100%;
  height: 92vh;
}

%shared-workHeader {
  margin-top: 40px;
  align-self: center;
  width: 10%;
}

.WorkHeader {
  @extend %shared-workHeader;
  margin: 20px auto;
}

.MobileWorkHeader {
  @extend %shared-workHeader;
  margin: 20px;
}

.WorkTitleInnerContainer {
  width: 146px;
  height: 40px;
  background-color: black;
  color: #fce166;
  border: 1px solid #fce166;
  margin-left: 6px;
  margin-top: -38px;
  border-radius: 4px;
}

.WorkTitleInnerContainer p {
  margin-top: 7px;
  text-align: center;
}

.WorkTitleOuterContainer {
  width: 150px;
  height: 40px;
  background-color: #fce166;
  border: 1px solid #000;
  border-radius: 4px;
}

.WorkHr {
  width: 100px;
  height: 5px;
  margin: 8px auto;
  background-color: #fce166;
}

.WorkLogo {
  width: 100px;
  height: 100px;
}

.WorkOuterContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

%shared-workFlexBox {
  margin-top: 40px;
  display: flex;
  padding: 20px;
  border: 2px solid #fce166;
  border-radius: 8px;
  box-shadow: 8px 8px 8px -8px #fce166;
}

.WorkFlexBox {
  @extend %shared-workFlexBox;
  width: 35%;
}

.MobileWorkFlexBox {
  @extend %shared-workFlexBox;
  width: 80%;
  height: fit-content;
}

.WorkElement {
  margin-left: 16px;
  color: #000;
  padding-bottom: 16px;
}

.MobileWorkElement {
  margin-left: 16px;
  color: #000;
  padding-bottom: 16px;
}

.WorkElement b {
  font-size: 20px;
  margin: 0;
}

.MobileWorkElement b {
  font-size: 14px;
  margin: 0;
}

.WorkElement p {
  font-size: 14px;
  margin: 0;
}

.MobileWorkElement p {
  font-size: 12px;
  margin: 0;
}

.WorkElement i {
  font-size: 12px;
  margin: 0;
}

.MobileWorkElement i {
  font-size: 10px;
  margin: 0;
}

.WorkElement ul {
  padding: 10px;
  margin: 0;
}

.MobileWorkElement ul {
  padding: 10px;
  margin: 0;
}

%shared-workList {
  margin-top: 16px;
}

.WorkList {
  @extend %shared-workList;
}

.WorkList p {
  line-height: 20px;
}

.WorkList p:nth-child(1) {
  font-weight: 600;
}

.WorkList p:nth-child(2) {
  font-style: italic;
  color: grey;
  font-size: 12px;
}

.WorkList p:nth-child(3) {
  font-size: 12px;
}

.MobileWorkList {
  @extend %shared-workList;
  font-size: 12px;
}

.MobileWorkList p {
  line-height: 20px;
}

.MobileWorkList p:nth-child(1) {
  font-weight: 600;
}

.MobileWorkList p:nth-child(2) {
  font-style: italic;
  color: grey;
  font-size: 12px;
}

.MobileWorkList p:nth-child(3) {
  font-size: 12px;
}
